body {
    padding-top: 50px;
}

footer {
    padding: 20px;
}
.centerItem {
    padding: 40px 15px;
    //text-align: center;
}

@media (min-width: 1200px) {
    .container{
        width: 1300px;
    }
}

.domainLink {
    font-size: 16px;
}
