<div class="centerItem" ng-controller="pageController">
    <h1>Page Information for {{domain}} / {{page}}</h1>
    <div class="row">
        <div class="col-md-8">
            <highchart id="mainGraph" config="graphConfig"></highchart>
        </div>
        <div class="col-md-4">
            <h3>Most Active Users:</h3>
            <ul>
                <li ng-repeat="user in users"><a href="#/user/{{ domain }}/{{ user[0] | escape }}">{{ user[0] }} - {{ user[1] | number }} edits</a></li>
            </ul>
        </div>
    </div>
</div>
